body {
    opacity: 0;
    transition: opacity 3s;
    font-family: 'Barlow', sans-serif;
    /* background-image: url('https://pixy.org/download/4650332/'); */
}

.navBar {
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.jumbotron {
    background: rgb(139, 228, 255);
    border-radius: 70px 70px 70px 70px; 
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    padding-bottom: 80px;
    box-shadow: 0 0 20px rgba(0,0,0.2);
}

